@use "../util/" as *;

.output {
  margin-top: 24px;
  padding: 32px 16px 24px 16px;
  border-radius: 10px;
  background-color: $cyan5;
}

.calculation {
  display: grid;
  grid-template-columns: repeat(2, 50%);

  @include breakpoint-up(desktop) {
    padding-top: 16px;
  }

  &__text {
    margin-bottom: 16px;
    font-size: rem(16);
    font-weight: 700;
    color: $white;

    & p {
      margin-top: 3px;
      font-size: rem(12);
      font-weight: 700;
      color: $cyan3;
    }
  }
  &__amount {
    width: 100%;
    text-align: right;
    color: $primary;
    font-size: rem(36);
    font-weight: 700;
    &::before {
      content: "$";
    }
  }

  &__button {
    @include breakpoint-up(desktop) {
      padding-top: 105px;
    }
  }
}
