@use "../util" as *;

.bill,
.tip,
.people {
  padding-top: 32px;

  &__heading {
    margin-bottom: 8px;
    font-size: rem(16);
    font-weight: 700;
    color: $cyan4;
  }
}

// input styling

input,
.input {
  border: none;
  border-radius: 5px;
  width: 100%;
  height: rem(48);
  background-color: $cyan1;
  text-align: right;
  font-size: rem(24);
  font-weight: 700;
  color: $cyan5;

  // remove spinner buttons
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &[type="number"] {
    -moz-appearance: textfield; // Firefox
  }

  &:focus {
    outline-color: $primary;
    outline-style: solid;
  }

  &#custom_tip {
    text-align: right;
    padding: rem(20);
    &::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: $cyan4;
    }
    &::-moz-placeholder {
      /* Firefox 19+ */
      color: $cyan4;
      opacity: 1;
    }
    &:-ms-input-placeholder {
      /* IE 10+ */
      color: $cyan4;
    }
    &:-moz-placeholder {
      /* Firefox 18- */
      color: $cyan4;
    }
  }
}

.dollar {
  position: relative;
  & input,
  .input {
    padding-left: 35px;
    padding-right: 15px;
  }
  &::before {
    content: url(../../images/icon-dollar.svg);
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-40%);
  }
}

.tip {
  &__input {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 20px;
  }
}

.people {
   span {
     display: block;
     color: lightcoral;
     display: none;
   }
}

.person {
  position: relative;
  & input,
  .input {
    padding-left: 35px;
    padding-right: 15px;
  }
  &::before {
    content: url(../../images/icon-person.svg);
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-40%);
  }
}
